{% extends 'base_home.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'assets/img/oil_monitoring.png' %}');">
          <span class="mask  bg-gradient-info  opacity-3"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
          <div class="row gx-4 mb-2">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative">
                <img src="{% static 'assets/img/oilserv.png' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1">
                  DAVINCHY INTEGRATED SOLUTIONS
                </h5>
                <p class="mb-0 font-weight-normal text-sm">
                  An Oil service company.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-xl-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">ABOUT US?</h6>
                  </div>
                  <div class="card-body p-3">
                    <p class = "text-justify">
                      We are a consortium of excellence in the manufacture of Medium and Low Voltage electrical transformers, with the commitment to serve the global market with the highest quality standards. Our dedication is reflected in every product that leaves our facility, where we fuse technical precision with innovative creativity. Satisfying the specific requirements of our customers around the world, managing to use materials and accessories of the highest quality at each stage of production. We pride ourselves on being leaders in innovation. Quality is the foundation of our reputation, backed by rigorous quality controls. We are also aware of the importance of accounting, ensuring cost efficiency without compromising our excellence. In summary, we are more than a company; we are a trusted partner who constantly strives to exceed expectations and set new benchmarks in the transformer industry
                    </P>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <div class="row">
                      <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">PRODUCTS, SERVICES AND PROJECTS</h6>
                      </div>
                      <div class="col-md-4 text-end">
                        <a href="javascript:;">
                          <i class="fas fa-building text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-3">
                    <p class="text-sm text-justify">
                      Our organization is highly specialized in the design, manufacture and repair of state-of-the-art electrical transformers. We take pride in offering fully customized and efficient solutions that are tailored to each customer’s unique energy needs. Our commitment is to provide exceptional quality products at highly competitive prices, while maintaining a focus on sustainability and innovation.
                    </p>

                    <p class="text-sm text-justify">
                      We stand out for our responsiveness, guaranteeing short delivery times so that our customers can count on their electrical equipment when they need it most. We have a team of highly trained and experienced professionals who work tirelessly to ensure excellence at every step of the process.
                    </p>

                    <p class="text-sm text-justify">
                      On every project, we strive to exceed expectations, providing long-lasting, reliable products that contribute to our customers’ long-term success. We are always willing to listen and understand the individual needs of each client, allowing us to offer tailored solutions that drive growth and energy efficiency. Welcome to our community of quality electrical transformation.
                    </p>
                    <hr class="horizontal gray-light my-4">

                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-4">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <div class="row">
                      <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Contact Us</h6>
                      </div>
                      <div class="col-md-4 text-end">
                        <a href="javascript:;">
                          <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-3">
                    <p class="text-sm">
                      Fill the form below and we will reply with a custom quote for your needs
                    </p>
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                      <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Perú:</strong> &nbsp; +51 971 892 898</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">USA:</strong> &nbsp; +1 (850) 628-6119</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; info@davinchyis.com</li>
                      <li class="list-group-item border-0 ps-0 pb-0">
                        <strong class="text-dark text-sm">Social:</strong> &nbsp;
                        <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                          <i class="fab fa-facebook fa-lg"></i>
                        </a>
                        <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                          <i class="fab fa-twitter fa-lg"></i>
                        </a>
                        <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
                          <i class="fab fa-instagram fa-lg"></i>
                        </a>
                      </li>
                      <a class="d-block shadow-xl border-radius-xl">
                        <img src="{% static 'assets/img/img-nosotros.jpg' %}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                        </a>
                    </ul>
                  </div>
                </div>
              </div>
              

            </div>
          </div>
        </div>
      </div>
</div>

{% endblock content %}