{% extends 'data/base_data.html' %}

{% load static %}

{% block title %} SRP Overview {% endblock title %}

{% block company %} {{ CompanyName }} {% endblock company %}
{% block companyMenu %} {{ CompanyName }} {% endblock companyMenu %}
{% block appName %} Rod Pump Data {% endblock appName %}
{% block Type %} Well Analyzer {% endblock Type %}

{% block content %}

<!-- HEADER -->
<div class="card bg-gradient-secondary mb-0 mt-4 mt-lg-2 ">
    <div class="card-body p-3">
        <div class="row">
            <div class="my-auto col-md-6 col-lg-8">
                <div class="numbers">
                    <p class="text-white text-sm mb-0 text-capitalize font-weight-bold opacity-7">Data for</p>
                    <h5 class="text-white font-weight-bolder mb-0">
                        {{ CompanyName }} field
                    </h5>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 align-items-center d-flex">

                <form method="GET">{% csrf_token %}
                    <div class="align-items-center justify-content-end">
                        <div class="input-group input-group-outline p-1">
                            <input class="form-control datetimepicker text-center text-white"
                                value="{{object_list.intervalDate}}" type="text" placeholder="today" id="dateKword"
                                name="dateKword" />
                            <button class="btn btn-sm bg-gradient-primary mb-0" type="submit">SEARCH</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- tables -->
<div class="row">
    <!-- ROD PUMP WELLS -->
    <div class="col-lg-7 col-md-12 mb-2 p-2">
        <div class="card h-100">
            <div class="card-body  p-2">
                <h6 class="mb-0 ">List of devices in rod pump wells</h6>

                <div class="table-responsive">
                    <table class="table align-items-center mb-0" id="datatable-basic2">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 ps-2">Field / Well <br> Last Update</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Fill<br>(%)</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-end">SPM</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-end">Diagnosis</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-end">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for well in devices.rodpumpData %}
                            <tr>
                                <td class="text-xs font-weight-normal text-start pb-0">
                                    <a class="nav-link text-white active" href="{% url 'data_app:data-rod-pump' well.IdDevice.IdRodPumpWell.WellName %}">
                                        <span class="badge badge-sm bg-gradient-secondary text-xxs text-center">
                                            {{well.IdDevice.IdRodPumpWell.FieldName.FieldName}} / {{well.IdDevice.IdRodPumpWell.WellName}}
                                        </span>
                                        <p class="mb-0"><span class="text-secondary text-xxs">{{well.DateCreate|date:'Y-m-d H:i'}}</span></p>
                                    </a>
                                </td>

                                <td class="text-xs font-weight-bolder text-center mb-0">
                                    {{well.PumpFillage}}
                                </td>
                                <td class="text-xs font-weight-bolder text-end mb-0">
                                    {{well.SPM}}
                                </td>
                                <td class="text-xs font-weight-normal text-end">
                                    {{well.get_Diagnosis_display}}
                                </td>
                                <td class="text-sm font-weight-normal text-start">
                                    {% if well.Status == "Normal running" %}
                                    <span class="badge badge-sm bg-gradient-success">{{well.Status}}</span>
                                    {% elif well.Status == "Stopped unit" %}
                                    <span class="badge badge-sm bg-gradient-warning">{{well.Status}}</span>
                                    {% else %}
                                    <span class="badge badge-sm bg-gradient-secondary">{{well.Status}}</span>
                                    {% endif %}
                                </td>
    
                            </tr>
                            {% endfor %}
    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- TANKS -->
    <div class="col-lg-5 col-md-12 mb-2 p-2">
        <div class="card h-100">

            <div class="card-body  p-2">
                <h6 class="mb-0 ">Tanks</h6>

                <div class="table-responsive">
                    <table class="table align-items-center mb-0" id="datatable-basic2">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 ps-2">Tank <br> Last Update</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Level ft | BF</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Status</th>
                                <!--
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Production <br>(m³)</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Diagnosis</th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Well <br>status
                                </th>
                                <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">
                                    Analyzer<br>Status
                                </th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for tank in devices.tankData %}
                            <tr>
                                <td class="text-xs font-weight-normal text-start pb-0">
                                    <a class="nav-link text-white active" href="{% url 'data_app:data-tank' tank.IdDevice.IdTank.TankName %}">
                                        <span class="badge badge-sm bg-gradient-secondary text-xxs text-center">
                                            {{ tank.IdDevice.IdTank.FieldName.FieldName }} / {{tank.IdDevice.IdTank.TankName}} 
                                        </span>
                                        <p class="mb-0"><span class="text-secondary text-xxs mb-0">{{tank.DateCreate|date:'Y-m-d H:i'}}</span></p>
                                    </a>
                                </td>
    
                                
                                <td class="text-xs font-weight-bolder text-start mb-0">
                                    {{tank.fluidHeigth|floatformat:2}} | {{tank.bblOil|floatformat:2}} 
                                    
                                </td>
                                <td class="text-sm font-weight-normal text-start">
                                    {% if tank.Status == "Normal running" %}
                                    <span class="badge badge-sm bg-gradient-success">{{tank.Status}}</span>
                                    {% elif tank.Status == "Stopped unit" %}
                                    <span class="badge badge-sm bg-gradient-warning">{{tank.Status}}</span>
                                    {% else %}
                                    <span class="badge badge-sm bg-gradient-secondary">{{tank.Status}}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
    
                        </tbody>
                    </table>
                </div>

                <hr class="dark horizontal">
            </div>

        </div>
    </div>
    
    <!-- MAPS DEVICES -->
    <div class="col-lg-12 col-md-12 mb-2 p-2">
        <div class="card h-100">
            <div class="card-body p-0">
                <h6 class="pt-2 ps-2 ">Locations</h6>
                
                    <div class="p-0" id="map"></div>
                
            </div>
            <div class="card-footer pt-0">
                <div class="d-flex align-items-center text-sm">
                    <i class="fas fa-map-marker"></i> &ensp;
                    Devices in the field
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block JSscripts %}

<script src="{% static 'assets/js/plugins/leaflet.js' %}"></script> 
<script>
    var meanLat = 0;
    var meanLong = 0;
    var nWells = 0;

    '{% for well in devices.rodpumpData %}'
        meanLat += Number('{{well.IdDevice.IdRodPumpWell.LatLocation}}');
        meanLong += Number('{{well.IdDevice.IdRodPumpWell.LonLocation}}');
        nWells++;
    '{% endfor %}'

    '{% for tank in devices.tankData %}'
        meanLat += Number('{{tank.IdDevice.IdTank.LatLocation}}');
        meanLong += Number('{{tank.IdDevice.IdTank.LonLocation}}');
        nWells++;
    '{% endfor %}'

    console.log(meanLat,meanLong,nWells);

    meanLat = meanLat/nWells;
    meanLong = meanLong/nWells;

    // Mapa de Leaflet
    var map = L.map('map').setView([meanLat, meanLong], 12);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors',
    }).addTo(map);

    var popupContent = [];
    
    var nW = 0;
    '{% for well in devices.rodpumpData %}'
        popupContent[nW] = `
            <div class="custom-popup text-center">
                <span class="badge badge-sm bg-gradient-success text-xxs text-center">
                    {{well.IdDevice.IdRodPumpWell.WellName}}
                </span>
                <p class="text-xs mb-0">Fill: {{well.PumpFillage}}%</p>
                <progress class = "w-80" id="file" value="{{well.PumpFillage}}" max="100"> {{well.PumpFillage}}% </progress>
            </div>
        `;

        // Agregar marcadores
        L.marker([Number('{{well.IdDevice.IdRodPumpWell.LatLocation}}'), Number('{{well.IdDevice.IdRodPumpWell.LonLocation}}')],{
            icon: L.divIcon({
                    className: 'marker-icon',
                    html: `
                    <div class="text-center badge badge-xs bg-gradient-white">
                        <img src='/static/assets/img/oil-refinery.png' class='avatar avatar-sm me-3 border-radius-xs'>
                        <p class="badge badge-xs bg-gradient-success text-xxs text-center">
                            {{well.IdDevice.IdRodPumpWell.WellName}} 
                        </p>
                        <p class="text-xxs mb-0 text-dark font-weight-bolder">Fill: {{well.PumpFillage}}%</p>
                        <progress class = "w-80" id="file" value="{{well.PumpFillage}}" max="100"> {{well.PumpFillage}}% </progress>
                    </div>`,
                    iconSize: [75, 30],
                    iconAnchor: [7, 0]
                })
        }).addTo(map).bindPopup(popupContent[nW]).openPopup();
        nW++;
    '{% endfor %}'

    var popupContentT = [];
    
    var nT = 0;

    '{% for tank in devices.tankData %}'
        popupContentT[nT] = `
            <div class="custom-popup text-center">
                <span class="badge badge-sm bg-gradient-success text-xxs text-center">
                    {{tank.IdDevice.IdTank.TankName}}
                </span>
                <p class="text-xs mb-0">Fill: {{tank.TankLevelPer}}%</p>
                <progress class = "w-80" id="file" value="{{tank.TankLevelPer}}" max="100"> {{tank.TankLevelPer}}% </progress>
            </div>
        `;

        // Agregar marcadores
        L.marker([Number('{{tank.IdDevice.IdTank.LatLocation}}'), Number('{{tank.IdDevice.IdTank.LonLocation}}')],{
            icon: L.divIcon({
                    className: 'marker-icon',
                    html: `
                        <div class="text-center badge badge-xs bg-gradient-white">
                        <img src='/static/assets/img/oil-tank.png' class='avatar avatar-sm me-3 border-radius-xs'>
                        <p class="badge badge-xs bg-gradient-success text-xxs text-center">
                            {{tank.IdDevice.IdTank.TankName}} 
                        </p>
                        <p class="text-xxs mb-0 text-dark font-weight-bolder">Cap: {{tank.bblOil}} </p>
                        <progress class = "w-80" id="file" value="{{tank.TankLevelPer}}" max="100"> {{tank.TankLevelPer}}% </progress>
                        </div>
                        `,
                    iconSize: [75, 30],
                    iconAnchor: [7, 0]
                })
        }).addTo(map).bindPopup(popupContentT[nT]).openPopup();
        nT++;
    '{% endfor %}'    
</script>

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>

{% endblock JSscripts %}