{% extends 'overview/base-overview.html' %}

{% load static %}

{% block title %} Overview {% endblock title %}

{% block company %} {{ CompanyName }} {% endblock company %}
{% block companyMenu %} {{ CompanyName }} {% endblock companyMenu %}
{% block app %} Overview {% endblock app %}
{% block PumpType %}  {% endblock PumpType %}
{% block PumpName %}  {% endblock PumpName %}

{% block content %}

<div class="row">
    <!-- column for vell analyzer overview -->
    <div class="col-lg-12 col-md-12 mb-4">
        <div class="card h-100">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <p class="text-sm">
                        <i class="fa fa-chart-line text-info" aria-hidden="true"></i>
                        <span class="font-weight-bold">Well Analyzer</span> Overview.
                    </p>
    
                    <div class="ms-auto mt-lg-0">
                        <button class="btn bg-gradient-warning btn-sm mb-0 export" data-type="csv" type="button">
                            <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                            <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                        </button> 
                    </div>
                </div>
                
            </div>
            <div class="card-body p-3">
                <div  class="row mb-4">
                    <!-- historical table -->
                    <div class="col-lg-12 col-md-12 ">
                        
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0" id="datatable-basic2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Well/battery</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Last<br>Report<br>Time</th>
                                            <!--
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Diagnosis</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Pump<br>Fillage<br>(%)</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">SPM</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Production <br>(m³)</th>
                                            -->
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Well <br>status</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Analyzer<br>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for well in object_list.rodpumpData %}
                                        <tr>
                                            <td class="text-sm font-weight-normal text-start">
                                                <a class="nav-link text-white active" href="/overview/{{well.PumpName}}">
                                                    <span class="badge badge-sm bg-gradient-secondary text-sm text-start"> {{well.PumpName}} / {{well.Battery}} </span>
                                                </a>
                                            </td>
                                            <td class="text-sm font-weight-normal text-start">{{well.LastUpdate|date:'Y-m-d H:i'}}</td>

                                            <!--
                                            <td class="text-sm font-weight-bolder text-start mb-0">
                                                {{well.Diagnosis}}
                                                
                                            </td>
                                            <td class="text-sm font-weight-normal text-start">{{well.PumpFill}}</td>
                                            <td class="text-sm font-weight-normal text-start">{{well.SPM}}</td>
                                            <td class="text-sm font-weight-normal text-start">{{well.RunTime}}</td>
                                            -->
                                            <td class="text-sm font-weight-normal text-start">
                                                {% if well.WellStatus == "Normal running" %} 
                                                <span class="badge badge-sm bg-gradient-success">{{well.WellStatus}}</span>
                                                {% elif well.WellStatus == "Stopped unit" %} 
                                                <span class="badge badge-sm bg-gradient-warning">{{well.WellStatus}}</span>
                                                {% else %} 
                                                <span class="badge badge-sm bg-gradient-secondary">{{well.WellStatus}}</span>
                                                {% endif %}

                                            </td>
                                            <td class="text-sm font-weight-normal text-start">
                                                {% if well.AnalyzerStatus == "running" %} 
                                                <span class="badge badge-sm bg-gradient-success">{{well.AnalyzerStatus}}</span>
                                                {% elif well.AnalyzerStatus == "low battery" %} 
                                                <span class="badge badge-sm bg-gradient-warning">{{well.AnalyzerStatus}}</span>
                                                {% elif well.AnalyzerStatus == "no signal" %} 
                                                <span class="badge badge-sm bg-gradient-danger">{{well.AnalyzerStatus}}</span>
                                                {% endif %}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- column for tanks -->
    <div class="col-lg-12 col-md-12">
        <div class="card h-100">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <p class="text-sm">
                        <i class="fa fa-chart-bar text-info" aria-hidden="true"></i>
                        <span class="font-weight-bold">Tank</span> Overview.
                    </p>
    
                    <div class="ms-auto mt-lg-0">
                        <button class="btn bg-gradient-warning btn-sm mb-0 export" data-type="csv" type="button">
                            <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                            <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                        </button> 
                    </div>
                </div>
                
            </div>
            <div class="card-body p-3">
                <div  class="row mb-4">
                    <!-- historical table -->
                    <div class="col-lg-12 col-md-12 ">
                        
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0" id="datatable-basic3">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Tank name</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Last<br>Report<br>Time</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Oil <br>(bbl) </th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Water <br>(bbl)</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Meter<br>state</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tank in object_list.tankData %}
                                        <tr>
                                            <td class="text-sm font-weight-normal text-start">
                                                <a class="nav-link text-white active" href="/overview/{{well.PumpName}}">
                                                    <span class="badge badge-sm bg-gradient-secondary"> {{tank.TankName}} </span>
                                                </a>
                                            </td>
                                            <td class="text-sm font-weight-normal text-start">{{tank.LastUpdate|date:'Y-m-d H:i'}}</td>
                                            <td class="text-sm font-weight-normal text-start">{{tank.OilLevel}}</td>
                                            <td class="text-sm font-weight-normal text-start">{{tank.WaterLevel}}</td>
                                            <td class="text-sm font-weight-normal text-start">
                                                {% if well.Status == "running" %} 
                                                <span class="badge badge-sm bg-gradient-success">{{tank.Status}}</span>
                                                {% elif well.Status == "low battery" %} 
                                                <span class="badge badge-sm bg-gradient-warning">{{tank.Status}}</span>
                                                {% elif well.Status == "no signal" %} 
                                                <span class="badge badge-sm bg-gradient-danger">{{tank.Status}}</span>
                                                {% endif %}
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block JSscripts %}
<!--Table-->
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
    const dataTableBasic1 = new simpleDatatables.DataTable("#datatable-basic2", {
        searchable: true,
        fixedHeight: false,
        perPage: 5
    });

    document.querySelectorAll(".export").forEach(function (el) {
        el.addEventListener("click", function (e) {
            var type = el.dataset.type;

            var data = {
                type: type,
                filename: "wells_export_" + type,
            };

            if (type === "csv") {
                data.columnDelimiter = ",";
            }

            dataTableBasic1.export(data);
        });
    });

    const dataTableBasic3 = new simpleDatatables.DataTable("#datatable-basic3", {
        searchable: true,
        fixedHeight: false,
        perPage: 5
    });

    document.querySelectorAll(".export").forEach(function (el) {
        el.addEventListener("click", function (e) {
            var type = el.dataset.type;

            var data = {
                type: type,
                filename: "tank_export_" + type,
            };

            if (type === "csv") {
                data.columnDelimiter = ",";
            }

            dataTableBasic3.export(data);
        });
    });
</script>

{% endblock JSscripts %}
