{% extends 'overview/base-overview.html' %}

{% load static %}

{% block title %} SRP {% endblock title %}

{% block company %} {{ CompanyName }} {% endblock company %}
{% block app %} Overview {% endblock app %}

{% block content %}

<div class="row">
    <!-- column for list wells -->
    <div class="col-lg-2 col-md-2 mb-4">
        <div class="card h-100">
            <div class="card-header pb-0">
                <h6 class = "text-info">Explore wells:</h6>
                <hr class="horizontal dark mt-0 mb-2">
            </div>
            <div class="card-body p-3">
                <ul class="navbar-nav">
                    <!-- start group for -->
                    {% for key, value in object_list.groupsWells.items %}
                    <li class="nav-item">
                        <a data-bs-toggle="collapse" href="#{{key}}" class="nav-link" aria-controls="{{key}}" role="button" aria-expanded="true">
                            <span class="text-dark text-sm font-weight-bold mb-0">{{key}}</span>
                        </a>
                    </li>
                    <div class="timeline timeline-one-side collapse show" id="{{key}}">
                        <!-- start for -->
                        {% for well in value %}
                        <a class="nav-link text-white active" href="/overview/{{well.PumpName}}">
                            <div class="timeline-block mb-0">
                                <span class="timeline-step">
                                    <i class="ni ni-bold-right text-success"></i>
                                </span>
                                <div class="timeline-content">
                                    <h6 class="text-dark text-sm mb-0">{{well.PumpName}}</h6>
                                    <!--
                                    <h6 class="text-dark text-sm mb-0">{{well.PumpName}} / {{well.Battery}} </h6>
                                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{well.Diagnosis}}</p>
                                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">Last
                                        update: {{well.LastUpdate|date:'Y-m-d H:i'}}</p>
                                    -->
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                        <!-- end for -->
                    </div>
                    {% endfor %}
                    <!-- end group for -->
                </ul>
                
            </div>
        </div>
    </div>

    <!-- column plots and traces -->
    <div class="col-lg-10 col-md-10 mb-4">
        <div class="card h-100">
            <div class="card-header">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="#Dynacharts" role="tab"
                                aria-selected="true">
                                <i class="fas fa-clock"></i>
                                <span class="ms-1">Dynacharts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="#trends" role="tab"
                                aria-selected="false">
                                <i class="fas fa-chart-line"></i>
                                <span class="ms-1">Trends</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="#gearbox" role="tab"
                                aria-selected="false">
                                <i class="fas fa-chart-line"></i>
                                <span class="ms-1">Gearbox Net Torque</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="#valvetest" role="tab"
                                aria-selected="false">
                                <i class="fas fa-chart-line"></i>
                                <span class="ms-1">Valve test</span>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <hr class="horizontal dark mt-0 mb-4">
            <div class="card-body pt-0 p-3">

                <!-- DYNACHART CARD -->
                <div id="Dynacharts" class="collapse show">
                    <form method="GET">{% csrf_token %}
                        <div class="row mb-4">
                            <div class="col-xl-4 col-sm-4">
                                <p class="text-sm"> <span class="text-md font-weight-bold"> {{object_list.name}} </span> &nbsp;&nbsp;  Last Update:&nbsp;&nbsp;<span class=" font-weight-bold" id = "LastUpdate"></span>
                                </p>
                            </div>
            
                            <div class="col-xl-4 col-sm-4">
                                <div class="input-group input-group-outline">
                                    <input class="form-control datetimepicker text-center" value="{{object_list.date}}" type="text" placeholder="today" id="dateKword" name="dateKword" />
                                </div>
                                
                            </div>
                            <div class="col-xl-4 col-sm-4">
                                <button class="btn bg-gradient-primary" type="submit"> Search </button>
                            </div>
                        </div>
                    </form>
    
                    <div class="row mb-4">
                        <!-- Dynachart  bg-light opacity-7 -->
                        <div class="col-lg-6 col-md-8 card overflow-hidden">
                            <h6>Dynachart</h6>
                            <div class="chart">
                                <div ui-jp="plot" id = "dynachart" style="height: 300px;"></div>
                            </div>
                        </div>
                        <!-- PUMP FILL -->
                        <div class="col-lg-6 col-md-4">
                            <h6>Barrels in tank and pump filling</h6>
                            <div class="chart">
                                <div ui-jp="plot"  id = "AllPlots" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>

                    <hr class="horizontal dark mt-0 mb-4">

                    <div  class="row">
                        <!-- historical table -->

                        <div class="d-lg-flex">
                            <h6>Historical table</h6>
            
                            <div class="ms-auto mt-lg-0">
                                <button class="btn bg-gradient-warning btn-sm mb-0 export" data-type="csv" type="button">
                                    <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                                    <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                                </button> 
                            </div>
                        </div>

                        
                        <div class="col-lg-12 col-md-12 ">
                            
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0" id="datatable-basic2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Diagnosis</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Tank<br>information</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Fill</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">SPM</th>
                                            <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Hours running today</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for well in object_list.data %}
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <!--
                                                        <div class="avatar me-3" id = "dynachart_{{well.id}}" style="display: inline-block; width: 40px; height: 40px; vertical-align: center;"></div>
                
                                                    -->
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h5 class="mb-0 text-xs">{{well.Diagnosis}}</h5>
                                                        <p class="text-xs font-weight-bold text-secondary mb-0"><span class="text-secondary">{{well.DateCreate|date:'Y-m-d H:i'}}</span></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle">
                                                <div class="progress-wrapper w-75 mx-auto">
                                                    <div class="progress-info">
                                                    <div class="progress-percentage">
                                                    <span class="text-xs font-weight-bold">{{well.bblOil|floatformat:2}} bbl ( {{well.TankLevel|floatformat:2}} ft )</span>
                                                    </div>
                                                    </div>
                                                    <div class="progress">
                                                    <div class="progress-bar bg-gradient-secondary w-{{well.TankLevelPer|floatformat:0}}" role="progressbar" aria-valuenow="{{well.TankLevelPer|floatformat:0}}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-xs font-weight-normal text-center">{{well.PumpFill}}</td>
                                            <td class="text-xs font-weight-normal text-center">{{well.SPM}}</td>
                                            <td class="text-xs font-weight-normal text-center">{{well.RunTime}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TRENDS CARD -->
                <div id="trends" class="collapse">
                    
                    <h6 class="text-sm">
                        <i class="fa fa-chart-line text-info" aria-hidden="true"></i>
                        <span class="font-weight-bold">Trends</span> for this month.
                    </h6>
                    
                    <h6> Datetime vs Runtime</h6>
                    <div class="chart mb-4">
                        <canvas id="runTime" class="chart-canvas" height="100px"></canvas>
                    </div>

                    <h6> Run time vs Production</h6>
                    <div class="chart">
                        <canvas id="runtimevsProduction" class="chart-canvas" height="100px"></canvas>
                    </div>

                </div>

                <!-- GEARBOX NET TORQUE-->
                <div id="gearbox" class="collapse">
                    GEARBOX BUILDING
                </div>

                <!-- VALVE TEST  -->
                <div id="valvetest" class="collapse">
                    VALVE TEST BUILDING
                </div>
    
            </div>

        </div>

    </div>

</div>

{% endblock content %}

<!-- end Body -->


{% block JSscripts %}

<!--Table-->
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
    const dataTableBasic1 = new simpleDatatables.DataTable("#datatable-basic2", {
        searchable: false,
        fixedHeight: false,
        perPage: 5
    });

    document.querySelectorAll(".export").forEach(function (el) {
        el.addEventListener("click", function (e) {
            var type = el.dataset.type;

            var data = {
                type: type,
                filename: "historical_export_" + type,
            };

            if (type === "csv") {
                data.columnDelimiter = ",";
            }

            dataTableBasic1.export(data);
        });
    });
</script>

<script src="{% static 'assets/js/plugins/plotly-2.12.1.min.js' %}"></script>
<script>

    function dtFormat(dateTime) {
        var dd = dateTime.getDate();
        var yyyy = dateTime.getFullYear();
        var mm = dateTime.getMonth() + 1;

        mm = (mm < 10 ? '0' : '') + mm;
        dd = (dd < 10 ? '0' : '') + dd;

        // Now setting up Time Format (hh:mm:ss)
        var hr = dateTime.getHours();
        var min = dateTime.getMinutes();
        var sec = dateTime.getSeconds();

        hr = (hr < 10 ? '0' : '') + hr;
        min = (min < 10 ? '0' : '') + min;
        sec = (sec < 10 ? '0' : '') + sec;
        var dt = yyyy + "/" + mm + "/" + dd + " " + hr + ":" + min;// + ":" + sec;
        return dt;
    }
    var ddt = new Date("{{object_list.data.0.DateCreate|date:'Y-m-d H:i'}}");
    //$("#LastUpdate").html(dtFormat(ddt));
    console.log("{{object_list.data.0.DateCreate|date:'Y-m-d H:i'}}");
    $("#LastUpdate").html(dtFormat(ddt));

    var layout_Dynachart = {
		margin: {l:20,t:0,b:20,r:10},
		autosize: true,
        paper_bgcolor: "rgba(0,0,0,0)",
        plot_bgcolor: "rgba(0,0,0,0.1)",

        showlegend: true,

		xaxis: {
	  		autorange: true,
            showgrid: true,
            zeroline: false,
	    //range: ['2020-01-01', '2020-01-31'],
	    	
	    	//type: 'date'
	    },
	    yaxis: {
	    	autorange: true,
            showgrid: true,
            zeroline: false,
	    	range: [-1, 7],
            
	        type: 'linear'
		},

        legend: {
            x: 1,
            y: 1,
            font: {
                family: 'roboto',
                size: 12,
                color: '#adb5bd',
            },
        }
		
	}

    var config = {
        modeBarButtonsToRemove: ['pan2d', 'select2d', 'lasso2d', 'resetScale2d', 'zoomOut2d'],
        responsive: true,
        displaylogo: false
    }
    
    var counter = 0;
    var data_PumpFill = [];
    var data_Diagnosis = [];
    var dateTime = [];
    var data_level = [];

    var data = [];

    '{% for well in object_list.data %}'

        var ddt = new Date("{{well.DateCreate|date:'Y/m/d H:i'}}");
        dateTime.push(ddt);

        data_level.push('{{well.bblOil|floatformat:2}}');
        data_PumpFill.push('{{well.PumpFill}}');
        data_Diagnosis = data_Diagnosis.concat('{{well.Diagnosis}}'.split(", "));

        var SurfaceLoad = "{{well.SurfaceLoad}}";
        //SurfaceLoad = SurfaceLoad.split(',');

        var SurfacePosition = "{{well.SurfacePosition}}";
        //SurfacePosition = SurfacePosition.split(',');

        var DownLoad = "{{well.DownLoad}}";
        //DownLoad = DownLoad.split(',');

        var DownPosition = "{{well.DownPosition}}";
        //DownPosition = DownPosition.split(',');

        load = SurfaceLoad + ",null," + DownLoad;
        pos = SurfacePosition + ",null," + DownPosition;

        load = load.split(',');
        pos = pos.split(',');

        //console.log("--->",'{{well.Status}}');

        '{% if well.Status == "running" %}'
        var trace = {
            type: 'scatter',
            x: pos,
            y: load,
            visible: true,
            //mode: 'markers',
            name: dtFormat(ddt) + " -> " +'{{well.PumpFill}}%',
            //name: dtFormat(ddt) + ": "+ '{{well.Diagnosis}}' + " - " +'{{well.PumpFill}}%',

            line: {
                width: 2,
                shape: 'spline'
            }
        };
        data.push(trace);
        '{% endif %}'
        
    '{% endfor %}'

    Plotly.newPlot("dynachart", data, layout_Dynachart, config);

    var trace0 = {
        type: "scatter",
        mode: "lines+markers",
        name: 'Pump Fill',
        x: dateTime.reverse(),
        y: data_PumpFill,
        line: {color: '#6CA8FF',shape: 'spline'},
    }

    var trace1 = {
        x: dateTime.reverse(),
        y: data_level,
        mode: "line+smarkers",
        name: 'Tank Level',
        type: 'scatter',
        line: {color: '#ffb967',shape: 'spline'},
    };

    var data = [trace0,trace1];
    
    var layout = {
        //background : gradientStroke1,
        showlegend: true,
        paper_bgcolor: "rgba(0,0,0,0",
        plot_bgcolor: "rgba(0,0,0,0)",
        legend: {
            "orientation": "h",
            x: 0,
            xanchor: 'left',
            y: 1
        },

        margin: {l:22,t:10,b:10,r:10},
		autosize: true,

        yaxis2: {
            domain: [0.6, 0.95],
            anchor: 'x2'
        },
        xaxis2: {
            domain: [0.6, 0.95],
            anchor: 'y2'
        },
        xaxis: {
            autorange: true,
            //range: ['2015-02-17', '2017-02-16'],
            rangeselector: {buttons: [
                {
                count: 1,
                label: '1h',
                step: 'hour',
                stepmode: 'backward'
                },
                {
                count: 12,
                label: '12h',
                step: 'hour',
                stepmode: 'backward'
                },
                {step: 'all'}
            ]},
            //rangeslider: {range: ['2022-08-13', '2022-08-13']},
            rangeslider: {autorange:true},
            type: 'date'
        },
        yaxis: {
            autorange: false,
            range: [0, 210],
            type: 'linear'
        }
    };

    Plotly.newPlot('AllPlots', data, layout, config);

    
</script>

<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<script>
    function dtFormat_short(dateTime) {
        var dd = dateTime.getDate();
        var yyyy = dateTime.getFullYear();
        var mm = dateTime.getMonth() + 1;

        var dt = yyyy + "/" + mm + "/" + dd;
        return dt;
    }
    // ============= RUN TIME PLOT =============
    var ctx0 = document.getElementById("runTime").getContext("2d");
    var ctx1 = document.getElementById("runtimevsProduction").getContext("2d");

    var dateTimeRT = [];
    var dateTimeP = [];
    var data_runtime = [];
    var data_oilProd = [];
    var data_waterProd = [];

    '{% for value in object_list.trends_runtime %}'
        var ddt = new Date("{{value.date|date:'Y/m/d'}}");
        dateTimeRT.push(dtFormat_short(ddt));
        data_runtime.push('{{value.Bydays}}');
    '{% endfor %}'

    '{% for value in object_list.productionData %}'
        var ddt = new Date("{{value.date|date:'Y/m/d'}}");
        dateTimeP.push(dtFormat_short(ddt));
        data_oilProd.push('{{value.OilProd}}');
        data_waterProd.push('{{value.WaterProd}}');
    '{% endfor %}'
    
    new Chart(ctx0, {
      type: "line",
      data: {
        labels: dateTimeRT.reverse(),
        datasets: [{
            label: "Run Time",
            tension: 0,
            pointRadius: 3,
            pointBackgroundColor: "#e91e63",
            pointBorderColor: "transparent",
            borderColor: "#e91e63",
            borderWidth: 2,
            backgroundColor: "transparent",
            fill: true,
            data: data_runtime.reverse(),
            //data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
            maxBarThickness: 6
          },
          {
            label: "Oil production",
            tension: 0,
            pointRadius: 3,
            pointBackgroundColor: "#A8A9AA",
            pointBorderColor: "transparent",
            borderColor: "#A8A9AA",
            borderWidth: 2,
            backgroundColor: "transparent",
            fill: true,
            data: data_oilProd.reverse(),
            //data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
            maxBarThickness: 6
          },
          {
            label: "Water Production",
            tension: 0,
            pointRadius: 3,
            pointBackgroundColor: "#3F8DFE",
            pointBorderColor: "transparent",
            borderColor: "#3F8DFE",
            borderWidth: 2,
            backgroundColor: "transparent",
            fill: true,
            data: data_waterProd.reverse(),
            //data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
            maxBarThickness: 6
          }
        ]
      },
      options: {
            responsive: true,
            scales: {
                xAxes: [
                    {
                        type: "time",
                        title: {
                        display: true,
                        text: 'Value'
                        },
                    }
                ],
            }
        }
    })

    new Chart(ctx1, {
      type: "line",
      data: {
        labels: data_runtime.reverse(),
        datasets: [
          {
            label: "Oil production",
            tension: 0,
            pointRadius: 3,
            pointBackgroundColor: "#A8A9AA",
            pointBorderColor: "transparent",
            borderColor: "#A8A9AA",
            borderWidth: 2,
            backgroundColor: "transparent",
            fill: true,
            data: data_oilProd.reverse(),
            //data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
            maxBarThickness: 6
          },
          {
            label: "Water Production",
            tension: 0,
            pointRadius: 3,
            pointBackgroundColor: "#3F8DFE",
            pointBorderColor: "transparent",
            borderColor: "#3F8DFE",
            borderWidth: 2,
            backgroundColor: "transparent",
            fill: true,
            data: data_waterProd.reverse(),
            //data: [50, 100, 200, 190, 400, 350, 500, 450, 700],
            maxBarThickness: 6
          }
        ]
      },
      options: {
            responsive: true,
            scales: {
                xAxes: [
                    {
                        type: "time"
                    }
                ],
            }
        }
    })

</script>

<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>
    if (document.querySelector('.datetimepicker')) {
        flatpickr('.datetimepicker', {
            allowInput: true,
            mode: "range"
        }); // flatpickr
    }
</script>
{% endblock JSscripts %}