{% extends 'wells/base-wells.html' %}

{% load static %}

{% block title %} SRP {% endblock title %}

{% block company %} {{ CompanyName }} {% endblock company %}

{% block app %} Well Manage {% endblock app %}

{% block content %}

<div class="row">
    <!-- column for view data -->
    <div class="col-lg-12 col-md-12">
        <div class="card h-100">
            <div class="card-header pb-0">

                
                
                <div class="d-flex align-items-center"">
                    <div class="ms-3">
                        <h5 class="font-weight-bolder mb-0">
                            Well list.
                        </h5>
                        <p class="text-sm mb-0 text-capitalize font-weight-normal">General data, surface and bottom data of the wells.</p>
                    </div>
                        
                    <div class="ms-auto mt-lg-0">
                        <button class="btn bg-gradient-warning btn-sm mb-0 export" data-type="csv" type="button">
                            <span class="btn-inner--icon"><i class="fas fa-file-csv text-lg"></i> </span>
                            <span class="btn-inner--text">&nbsp;&nbsp;&nbsp;Export CSV</span>
                        </button> 

                        <a href="/devices/" class="btn  bg-gradient-info btn-sm mb-0">
                            <i class="fas fa-cogs text-sm"></i> &nbsp; View Devices</a>
                    </div>
                </div>
                
            </div>

            <div class="card-body p-3">
                <div class="row mb-4">

                    <!-- WELLS table -->
                    <div class="col-lg-12 col-md-12 ">

                        <div class="table-responsive">
                            <table class="table align-items-center mb-0" id="datatable-basic1">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Pump<br>Name</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Location</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Group<br>Name </th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Stroke<br>Length<br>(in)</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Motor<br>Type</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Pollisher<br>Rod<br>Diameter</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Pump<br>Intake<br>(ft)</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Plunger<br>Diameter<br>(in)</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            TVD<br>(ft)</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Total<br>Rod<br>Length</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Total<br>Rod<br>Weight</th>
                                        <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 text-start">
                                            Refresh<br>(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for well in object_list.well_list %}
                                    <tr>
                                        <td class="text-xs font-weight-normal text-start">
                                            <div class="d-flex text-sm text-start">
                                                <!--
                                                <a class="btn btn-link text-danger text-sx mb-0 px-0 ms-4" href ="{% url 'wells_app:remove' well.id %}">
                                                    <i class="fas fa-trash text-sx position-relative me-1 text-danger"></i>
                                                    Remove
                                                </a>
                                                -->
                                                <a class="btn btn-link text-success text-start text-sx mb-0 px-0" href ="{% url 'wells_app:update' well.id %}">
                                                    <i class="fas fa-edit text-sx position-relative me-1 text-success"></i>
                                                    {{well.PumpName}}
                                                </a>
                                            </div>
                                        </td>
                                        <td class="text-xs font-weight-normal text-start">{{well.FieldName__FieldName}}/{{well.BatteryName__BatteryName}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.GroupName__GroupName}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.StrokeLength}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.MotorType}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.PolishedRodDiameter}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.PumpIntake}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.PlungerDiameter}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.TrueVerticalDepth}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.TotalRodLength}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.TotalRodWeight}}</td>
                                        <td class="text-xs font-weight-normal text-start">{{well.Refresh}}</td>

                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block JSscripts %}

<!--Table-->
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
    const dataTableBasic1 = new simpleDatatables.DataTable("#datatable-basic1", {
        searchable: true,
        fixedHeight: false,
        perPage: 10
    });

    document.querySelectorAll(".export").forEach(function (el) {
        el.addEventListener("click", function (e) {
            var type = el.dataset.type;

            var data = {
                type: type,
                filename: "well_export_" + type,
            };

            if (type === "csv") {
                data.columnDelimiter = ",";
            }

            dataTableBasic1.export(data);
        });
    });
</script>

{% endblock JSscripts %}