{% extends 'production/base-production.html' %}

{% load static %}

{% block title %} SRP {% endblock title %}

{% block company %} {{ CompanyName }} {% endblock company %}
{% block app %} Production review {% endblock app %}

{% block content %}

<div class="row  mb-4">
    <!-- form for add register -->

  <div class="col-lg-6 col-md-6">
      <div class="card h-100">
          <div class="card-header p-3 pb-0">
              <h6 class="mb-1">Enter production data</h6>
              <p class="text-sm mb-0">
                  Enter production for well <span class="text-dark text-sm font-weight-bold mb-0">{{ PumpName }}</span>
              </p>
          </div>
          <div class="card-body p-3">
              {% if errorMessage %}
              <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
              {% endif %}
              <form class="multisteps-form__form" method="POST"> {% csrf_token %}
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Oil production</label>
                    {{ form.OilProd }}
                  </div>
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Water Production</label>
                    {{ form.WaterProd }}
                  </div>
                  <div class="input-group input-group-static my-3">
                    <label>user</label>
                    <input type="text" class="form-control text-center" value="{{ UserAuthor }}" disabled="true">
                    {{ form.UserAuthor }}
                  </div>
                  <div class="input-group input-group-static my-3">
                    <label>Date</label>
                    <input type="date" class="form-control">
                    {{ form.DateTest }}
                  </div>
                  
                  <button type = "submit" class="btn bg-gradient-dark mb-0 float-end">Save</button>
              </form>

              
                  
          </div>
      </div>
  </div>
        
</div>



{% endblock content %}

{% block JSscripts %}


{% endblock JSscripts %}